@font-face {
  font-family: "Electronic Arts Text";
  src: url("../../assets/fonts/ElectronicArtsText.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Electronic Arts Text";
  src: url("../../assets/fonts/ElectronicArtsTextBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
