@use '../../styles/partials/colors' as *;

.faq-item-row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.faq-item {
  width: 100%;
  height: 116px;
  border-radius: 20px;
  background-color: $EADarkblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  cursor: pointer;

  p {
    color: white;
    font-size: 18px;
  }

  &__dropdown-icon {
    height: 2rem;
    width: 2rem;
    padding-right: 2rem;
  }

  &__question {
    padding-left: 2rem;
  }
}

.faq-item-response {
  display: none;
}

.faq-item-response--open {
  width: 100%;
  min-height: 116px;
  border-radius: 20px;
  background-color: $EAOrange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: -1.5rem;
  cursor: pointer;

  p {
    color: white;
    font-size: 18px;
  }

  &__dropdown-icon {
    height: 2rem;
    width: 2rem;
    padding-right: 2rem;
  }

  &__question {
    padding-left: 2rem;
  }
}
