@use "../../styles/partials/fonts";
@use "../../styles/partials/colors" as *;

@keyframes placeHolderShimmer {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.hero {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  height: 75vh;
  padding: 3rem 8rem;
  background-image: linear-gradient(to right, $EANavy 0%, $EANavy 45%, $EAMaroon);

  &__text {
    color: white;
    margin-right: 10rem;
    line-height: normal;
  }

  &__title {
    font-size: 48px;
    margin-bottom: 1.5rem;
  }

  &__subtitle {
    margin-top: 0rem;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    &-container {
    }
  }

  .button {
    position: relative;
    padding: 0.75rem 3.25rem 0.75rem 1rem;
    outline: none;
    font-family: "Electronic Arts Text";
    font-size: 1rem;
    border-radius: 0.25rem;
    border: none;
    color: white;
    cursor: pointer;

    background-size: 200%;
    background-image: linear-gradient(to left, $EAOrange, $EABlue, $EAOrange);

    &__icon {
      position: absolute;
      margin-left: 0.5rem;
      width: 1.25rem;
      height: 1.25rem;
    }
    &:hover {
      animation: 1.5s linear infinite placeHolderShimmer;
      background-position: right;
    }

    margin-right: 1rem;
  }
}
