@use '../../styles/partials/fonts';
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/breakpoints' as *;

@keyframes placeHolderShimmer {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.hero {
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--right {
    padding-top: 2rem;
  }

  &__top {
    width: 100%;
    max-width: 1400px;
    display: grid;
  }
  &__text {
    color: white;
    padding-top: 3rem;
    line-height: normal;
  }

  &__title {
    font-size: 48px;
    margin-bottom: 1.5rem;
  }

  &__subtitle {
    margin-top: 0rem;
  }

  &__image {
    margin-bottom: 1rem;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: cover;
  }

  &__carousel-text {
    margin-top: 4rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__carousel-title {
    font-size: 48px;
    line-height: normal;
  }

  &__subtext {
    font-size: 1rem;
    width: 40%;
    text-align: center;
  }

  .button {
    position: relative;
    padding: 0.75rem 3.25rem 0.75rem 1rem;
    outline: none;
    font-family: 'Electronic Arts Text';
    font-size: 1rem;
    border-radius: 0.25rem;
    border: none;
    color: white;
    cursor: pointer;

    background-size: 200%;
    background-image: linear-gradient(to left, $EAOrange, $EABlue, $EAOrange);

    &__icon {
      position: absolute;
      margin-left: 0.5rem;
      width: 1.25rem;
      height: 1.25rem;
    }
    &:hover {
      animation: 1.5s linear infinite placeHolderShimmer;
      background-position: right;
    }

    margin-right: 1rem;
  }
}

@include small() {
  .hero {
    padding: 5rem 3rem 0rem 3rem;

    &__text {
      padding-top: 0rem;
    }

    &__top {
      grid-template-columns: 1fr;
    }

    &--left {
      order: 2;
    }

    &--right {
      order: 1;
    }
    &__title {
      font-size: 2rem;
    }

    &__subtitle {
      font-size: 1rem;
    }

    &__carousel-text {
      align-items: flex-start;
    }

    &__carousel-title {
      font-size: 2rem;
    }

    &__subtext {
      width: 100%;
      font-size: 1rem;
      text-align: left;
    }
  }
}
@include medium() {
  .hero {
    padding: 10rem 6rem 2rem 6rem;

    &__top {
      grid-template-columns: 1fr 1fr;
      column-gap: 3rem;
    }

    &__title {
      font-size: 2rem;
    }

    &__subtitle {
      font-size: 1rem;
    }

    &__subtext {
      width: 70%;
    }
  }
}
@include large() {
  .hero {
    padding: 10rem 6rem 2rem 6rem;

    &__top {
      grid-template-columns: 1fr 1fr;
    }
  }
}
