@use '../styles/partials/fonts' as *;
@use '../styles/partials/colors' as *;

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to right,
    $EANavy 0%,
    $EANavy 45%,
    $EAMaroon
  );

  &__nav {
    overflow-x: hidden;
  }
}

.footer {
  margin-top: 2rem;
  width: 100%;
}
