.carousel-container {
  height: 15vh;
  background-color: grey;
  padding: 1rem 1rem 1rem 1rem;
}

.carousel {
  display: grid;
  height: 100%;
  grid-auto-flow: column;
  grid-auto-columns: 23%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  gap: 2rem;

  &__item {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: aquamarine;
    object-fit: cover;
    overflow: hidden;
  }
}

.carousel::-webkit-scrollbar {
  display: none;
}
