.carousel-container {
  padding: 1rem 1rem 1rem 1rem;
}

.carousel {
  display: grid;
  height: 320px;
  grid-auto-flow: column;
  grid-auto-columns: 15%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  gap: 2rem;

  &__item {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
  }
}

.carousel::-webkit-scrollbar {
  display: none;
}
