@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/colors" as *;

.header {
  display: flex;
  background-color: white;
  box-sizing: border-box;
  background-image: linear-gradient(to right, $EANavy 0%, $EANavy 45%, $EAMaroon);
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 3rem;
  width: 100%;
  transition-duration: 0.4s;

  &--hidden {
    transform: translate3d(0, -40px, 0);
  }

  &__button {
    margin-right: 1rem;
    width: 9.0625rem;
    height: 2.75rem;
    padding: 0rem 1rem;
    outline: none;
    font-family: "Electronic Arts Text";
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 0.0625rem solid white;
    color: white;
    cursor: pointer;
    background: none;
  }

  &__accessibility-icon {
    cursor: pointer;
    object-fit: cover;
    overflow: hidden;
    height: 2rem;
  }
}
